SUBSYSTEM!="sound", GOTO="end"
ENV{SOUND_INITIALIZED}!="1", GOTO="end"
ENV{ID_BUS}!="usb" GOTO="end"

ACTION=="remove", GOTO="signal_belaui"

ACTION!="change", GOTO="end"

# the Cam Link 4K's audio id defaults to C4K - don't modify it
ATTR{id}=="C4K", GOTO="signal_belaui"

# set the id for the first USB audio card that's not a camlink 4K
ATTR{id}="usbaudio"

LABEL="signal_belaui"
RUN+="/usr/bin/pkill -o -SIGUSR2 -f belaUI.js"

LABEL="end"
