SUBSYSTEM!="sound", GOTO="end"
ENV{SOUND_INITIALIZED}!="1", GOTO="end"
ENV{ID_BUS}!="usb" GOTO="end"

ACTION=="remove", GOTO="signal_belaui"

ACTION!="change", GOTO="end"

# the Cam Link 4K's audio id defaults to C4K - don't modify it
ATTR{id}=="C4K", GOTO="signal_belaui"

# it looks like sometimes OA4 comes up without an ID, try to set it
ENV{ID_MODEL}=="OsmoAction4", ATTR{id}="OsmoAction4", GOTO="signal_belaui"

# don't rename the OP3 audio input
ATTR{id}=="DJIPocket3", GOTO="signal_belaui"

# the OA5's and OA6's names might include part of the SN, discard it
ATTR{id}=="OsmoAction5*", ATTR{id}="OsmoAction5", GOTO="signal_belaui"
ATTR{id}=="OsmoAction6*", ATTR{id}="OsmoAction6", GOTO="signal_belaui"

# set the id for the first USB audio card that's not a camlink 4K
ATTR{id}="usbaudio"

LABEL="signal_belaui"
RUN+="/usr/bin/pkill -o -SIGUSR2 -f belaUI.js"

LABEL="end"
