[Unit]
Description=belaUI service
After=network.target

[Service]
# install_service.sh automatically sets WorkingDirectory to point to the current directory
WorkingDirectory=/home/nvidia/belaUI
ExecStart=/usr/bin/nodejs ./belaUI.js
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
