[Unit]
Description=belaUI service
After=network-online

[Service]
User=root
Group=root
# install_service.sh automatically sets WorkingDirectory to point to the current directory
WorkingDirectory=/home/nvidia/belaUI
ExecStart=/usr/bin/nodejs ./belaUI.js
KillMode=mixed
Restart=always
SyslogIdentifier=belaUI

[Install]
WantedBy=multi-user.target
